@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #FFF;
    box-sizing: border-box;
}

.custom-gradient {
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.shared-input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  padding: 10px;
  font-family: var(--font-karla);
font-style: normal;
font-weight: 400;
line-height: normal;
color: #0D0D0D;
transition: border 100ms ease-out;
cursor: pointer;
}
.shared-input::placeholder {
font-family: var(--font-karla);
font-style: normal;
font-weight: 400;
line-height: normal;
}

.shared-input:focus {
  border-color: #C0C0C0;
  outline: 0;
}